	body{
    background:yellow;
	/* background-image: url('images/Penguins.jpg'); */
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 5px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align:center;
  font-size:20px;
}

tr:nth-child(even) {
  background-color: white;
}

