.inline {
    display: inline-block;
    float: right;
    margin: 20px 0px;
}

input,
button {
    height: 34px;
}

.select2 {
    width: 100%!important;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #C0C0C0;
    font-size: 16px;
}

body {
    font-family: Arial, Sans-serif;
}

.error {
    color: red;
    font-family: verdana, Helvetica;
}

.table th,
.table a {
    color: black;
}