{
	margin: 0;
	padding: 0;
}
header 
{
	background-image:url(303.jpg);
	height: 300px;
	background-position: center;
	color: white;
	margin-right: 40px;
	margin-left: 40px;
}
.main-nav
{
	float: right;
	list-style: none;
}
.main-nav li
{
	display: inline-block;
}
.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "roboto" sans-serif;
	font-size: 15px; 
	
}
