.imgGallery img {
    padding: 8px;
    max-width: 100px;
}

.user-panel img {
    height: auto;
    width: 1.8rem;
}

.imgGallery1 img {
    padding: 8px;
    max-width: 100px;
}

.user-panel1 img {
    height: auto;
    width: 1.8rem;
}

.inline {
    display: inline-block;
    float: right;
    margin: 20px 0px;
}

input,
button {
    height: 34px;
}

.select2 {
    width: 100%!important;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #C0C0C0;
    font-size: 16px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    font-weight: bold;
    font-size: 18px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid black;
}

.pagination a.active {
    background-color: pink;
}

.pagination a:hover:not(.active) {
    background-color: skyblue;
}

body {
    font-family: Arial, Sans-serif;
}

.error {
    color: red;
    font-family: verdana, Helvetica;
}

.table th,
table a {
    color: black;
}