{
	margin: 0;
	padding: 0;
}
header 
{
	background-image:url(34241.jpg);
	height: 100px;
	background-size: cover;
	background-position: center;
}
.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}
.main-nav li
{
	display: inline-block;
}
.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "roboto" sans-serif;
	font-size: 15px;

}